<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="5;url=https://www.google.com/" />  FUNCIONA CON DEBUG EN False y Allowed Host = localhost-->
    <meta http-equiv="refresh" content="5;url=/" />
    <title>Error pagina no encontrada</title>
</head>

<body>
    <h2>Lo sentimos, la pagina no existe.</h2>
    <p>Se redireccionara a la pagina prinicipal en un momento</p>
</body>

</html>